<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
    <header>{% block pagename %}{% endblock %}</header>

    <menu>{% block menu %}
        <h3><a href="#">Главная</a></h3>

    <h3><a href="http://127.0.0.1:8000/platform/games">Магазин</a></h3>

    <h3><a href="http://127.0.0.1:8000/platform/cart">Корзина</a></h3>
        {% endblock %}</menu>

    <div>{% block content %}{% endblock %}</div>
</body>
</html>